<div class="header-div">
  <div class="title">
    <a href="/" class="button-link">
    <h1 class="title-name">ShowBizzy</h1>
    </a>
    </div>
    <div class="reg-div">
       <%= render "pages/registration" %>
       </div>
  </div>


