<nav>
<div class="nav-container">
    <a href="/about", class= 'nav-item'>About ShowBizzy</a>
    <a href="/", class= 'nav-item'>Browse Shows</a>
    <% if user_signed_in? %>
    <%= link_to "Create New Show", new_show_path, class: 'nav-item' %>
    <%= link_to 'My Shows - View and Edit', user_myshows_path, class: 'nav-item' %>
    <%= link_to 'My Reviews - View and Edit', shows_myreviews_path, class: 'nav-item' %>
    <% end %>
</nav>