<nav class="unlogged">

   <a href="/about">About ShowBizzy</a>
    <a href="/browse">Browse Shows</a>
    <% unless user_signed_in? %>
  <div class="userlogin">
    <%= link_to "Login", new_user_session_path %>&nbsp; &nbsp;
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
<% end %>
      <% end %>
</nav>