<div class="about-text">
<h2>ShowBizzy - Your Stage, Your Voice</h2>

<p>"ShowBizzy: Bridging the Gap Between Performers and Audiences!</p>


<p>Welcome to ShowBizzy, the platform dedicated to helping performers like you forge meaningful connections with audiences. Our mission is simple: to empower you on your artistic journey and ensure your shows reach a wider audience.</p>

<p>Discoverability is key, and ShowBizzy is another way of promoting your show. Audiences can easily explore shows based on genre, title, performer, ratings and even a mixture of those. It's a great opportunity to engage viewers and let your talent speak for itself.
    An algorithm places the most highly and most often rated shows in the beginning of the results but will also allow for some new shows to be displayed. Each time
    a page is refreshed the order of shows will change increasing the chance of a show being discovered.

</p>

<p>But it doesn't stop there. ShowBizzy encourages audience engagement and feedback. Knowing the audiences' thoughts 
    can bprovide a key to improving a show. After a remarkable performance, ask your audience to leave their thoughts and ratings on ShowBizzy. It's a fantastic way to gather valuable insights and 
    connect with your fans and to find audience quotes to use to help to promote your show.</p>

<p>At ShowBizzy, fairness is paramount. Each signed in user can rate a show only once, ensuring an unbiased evaluation. To provide a review, users must log in, promoting genuine and thoughtful feedback. Plus, both shows and reviews can be edited or deleted, giving you full control.</p>

<p>Let ShowBizzy guide you to select the perfect shows for you. Benefit from show ratings and insightful comments to make informed choices.</p>

<p>Join ShowBizzy today and unlock a world where performers and audiences come together, creating unforgettable moments of artistic connection!"</p>
</div>
<br /><br /><br /><br />









