<div class="question-container">
<h2 class="faq"> ShowBizzy - Frequently Asked Questions </h2>
<p class="question">How do I create a new show?</p>
<p class="answer">You need to log in and then click on “Create New Show” in the menu on top. Ensure all the mandatory fields are completed and select “Submit”. </p>
<p class="question">How do I write a review?</p>
<p class="answer">
<ol>
<li>You need to be logged in.</li>
<li>Find the show you would like to review. You can search by the show title.</li>
<li>If the show is on the site click “Check it Out”.</li>
<li>When you scroll down you will see a rating option and a text box where you can type the review.</li>
</ol>
NOTE: it is not possible to review a show you have created or to review a show twice. </p>
<p class="question">How do I reset my password?</p>
<p class="answer">You can click on the login link at the top and scroll down to “Forgot your password?”. Click on “Forgot your password?”, enter your email in the space provided and click “Send me reset password instructions”. This will send a password reset link to your email address.</p>
<p class="question">How do I delete or edit a review?</p>
<p class="answer">Once you’re logged in you can go to “My Reviews – View and Edit” in the top menu. You can then scroll to the review you wish to delete and select “Delete Review” or “Edit Review”.</p>
<p class="question">How do I delete or edit a show?</p>
<p class="answer">Once you’re logged in you can go to “My Shows – View and Edit” in the top menu. You can then scroll to the show you wish to delete and select “Delete Show” or “Edit Show”.</p>
<p class="question">How does the search functionality work?</p>
<p class="answer">In the search menu you can look for a show based on any of these criteria: genre of a show, performer name, show name, minimum average rating or a mixture of criteria.</p>
<p class="question">I have signed up but haven’t received my confirmation email.</p>
<p class="answer">This may take a few minutes to receive. Check your spam folder. If you still haven’t received it you may need to sign up with a different email account. 
If you need the confirmation instructions resent go to the signup page. You should see a link titled “Didn’t receive confirmation instructions?” at the bottom.</p>
</div>
<div class="shows-link">
<%= link_to "Back to Shows", root_path, class:"link-to-page" %>
</div>
<br />
<br />
<br />
<br />
<br />