<div class="about-text">
    <h2 class="tc-title">Terms and Conditions</h2>
    <ul class="tc-list">
    <li>ShowBizzy Productions reserves the right to remove shows that could be offensive to others.</li>
    <li>ShowBizzy Productions reserves the right to remove any comments it deems inappropriate.</li>
    <li>ShowBizzy Productions reserves the right to cancel accounts it deems inappropriate.</li> 
    <li>By signing up with ShowBizzy I confirm that I will only create shows that are either mine or where I have the consent of the show creator/s.</li>
    <li>By signing up with ShowBizzy I confirm that I will not update content such as hate speech, pornography, spam and will not engage in any bullying type of behaviour.</li>
    <li>ShowBizzy accepts no liability for any type of damage caused by the site’s content, e.g. negative reviews. As this is posted by the users.</li> 
    <li>ShowBizzy Productions reserves the right to delete any shows that have been inactive over a longer period of time.</li> 
    <li>ShowBizzy password are automatically encrypted and not visible to ShowBizzy Productions.</li>
    </ul>
</div>
<div class="back-link">
<%= link_to "Go Back to Previous Page", request.referer, class:"link-to-page" %>
</div>
<br />
<br /><br /><br /><br />