<% @reviewed = false %>
  <% @usernames = [] %>
  <% @useremails = [] %>
  <%=%>
  need to get user details for the user review. The user review  has a user id thihs needs to match the user's id. 
  
  <% @userreviews.each do |userreview| %>
    <% @users = User.where(id: userreview.user_id) %>
    <% @users.each do |user| %>
      <% @usernames.push(user.username) %>
      <% @useremails.push(user.email) %>
      <% if @useremails.include?(current_user.email) %>
        <% @reviewed = true %>
      <% else %>
        <% @reviewed = false %>
        <% @useremails %>
      <% end %>
    <% end %>
  <% end %>

<h2>Edit Review</h2>
<p>title <%=@show %></p>
<p>title id <%=@showid %></p>
<%= render 'shows/review_form' %>