/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 #main color:##242124;
 */

 * {
  background-color: #343434;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

body {
  color: #ddd;
}

h1 {
  display: block;
  color: #ffe135;
}
p{
  margin: 2rem;
}

h2 {
  font-size: 2rem;
  color: #ffe135;
}

a {
  color: #ffe135;
  background-color: #343434;
  text-decoration: none;
}

a:hover {
  font-weight: 700;
  color: light-yellow;
}

button {
  color: #ffe135;
  padding: 0.25rem;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

img {
  border-radius: 5px;
}

input,
select {
  color: #ddd;
}

input {
  border: solid 2px #555;
}

input.button,
.delete-button {
  color: #ffe135;
  background: none;
  background-color: #555;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
}
p.notice{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  text-align: center;
  grid-gap: 10px;
  align-items: center;
  height: 9rem;
  padding: 0;
  margin-top: -2rem;
}

.reg-div {
  position: absolute;
  right: 0;
  text-align: right;
  height: 70%;
}

.reg-div input,
select {
  color: #ffe135;
}

.signed-in {
  color: #ffe135;
  font-weight: 700;
  margin-right: 1rem;
}

.signed-out {
  position: relative;
  top: 4rem;
  right: 1rem;
}

.title {
  align-self: end;
  grid-row: 1;
  grid-column: 3;
  margin: 0;
  text-align: center;
  margin: 0;
}

.title-name {
  font-family: "Sigmar", cursive;
  text-shadow: 0.025px 2px;
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 1.32rem;
}

.userlogin {
  color: #ffe135;
  text-align: right;
}

.logout,
.delete-show {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

.logout:hover,
.delete-show:hover {
  font-weight: 700;
  color: light-yellow;
}

.edit-profile,
.logout {
  color: #ffe135;
  background-color: #343434;
  text-decoration: none;
  font-weight: 400;
}

.greeting {
  margin-bottom: 0;
  font-weight: 700;
}

.reg-label {
  color: #ffe135;
}

.edit-user a {
  color: #ffe135;
}

input[type="text"] {
  width: 200px;
}

select {
  width: 215px;
}

input[type="text"],
select {
  padding: 5px;
  border-radius: 5px;
}

textarea {
  color: #ddd;
  width: 20rem;
  height: 10rem;

}

.link-to-page {
  font-weight: 700;
  font-size: 1.5rem;
}

.link-to-page:hover {
  font-size: 1.62rem;
  color: lightyellow;
}

.copyright-container {
  color: #ffe135;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 700;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #555;
  padding: 0.5rem;
  margin-bottom: -2rem;
}

.nav-container a {
  display: flex;
  align-items: center;
  width: vw;
  color: #ddd;
  background-color: #555;
  font-weight: 400;
  text-decoration: none;
  height: 2rem;
}

.nav-item:hover {
  color: #eee;
  text-shadow: 0.025px 0.025px 15px;
}
p.notice{
  margin-bottom: 2rem;
}
.overall-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-top: -0.5rem;
}

.right-container {
  grid-column: 4 / 5;
  padding: 0.5rem;
  margin-right: 1.5rem;
  border-radius: 5px;
}

.search {
  text-align: right;
  margin-top: -1rem;
}

.search-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-instruction {
  text-align: center;
  font-size: 0.5rem;
  font-weight: 400;
  width: 14rem;
}

.show-container {
  grid-row: 1;
  grid-column: 1 / 4;
  text-align: center;
  border-radius: 5px;
  margin-left: 4rem;
  margin-right: 4rem;
}

.index-container-outer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 0;
}

.index {
  color: #ddd;
  font-size: 0.75rem;
  width: 100%;
  display: inline;
}

.index .index-show-title {
  color: #ffe135;
  font-size: 1rem;
  font-weight: 700;
  width: 10rem;
  text-align: center;
}

.index-item {
  color: #ddd;
  font-size: 0.75rem;
}

.view-show {
  height: 2rem;
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: -0.3rem;
}

.genre {
  color: #aaa;
  font-size: 0.75rem;
}

.label {
  color: #ffe135;
  font-weight: 700;
  font-size: 1.25rem;
}

.display-container {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.display-container img {
  width: 30rem;
  height: 20rem;
}
.about-text{
  text-align: center;
  margin: 0 3rem;

}

.about p {
  margin: 0 auto;
  width: 50rem;
}

.display-container .display-title {
  display: block;
  color: #ffe135;
  background-color: #777;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.review-area {
  color: #ffe135;
}

.rating {
  font-size: 1.5rem;
  font-weight: 777;
}

.review {
  margin: 0 auto;
  width: 50%;
  border: 2px solid #777;
  padding: 0.5rem;
  border-radius: 5px;
}
.description-container{
 margin: 0 auto;
 word-wrap: break-word;
}

.input-field {
  color: #ddd;
  text-align: center;
  padding: 0.25rem;
  border-radius: 5px;
}

.edit-review {
  color: #ffe135;
  font-family: "Geologica", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 1600px) {
  .index-container-outer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1370px) {
  .index-container-outer {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 1125px) {
  .index-container-outer {
    grid-template-columns: 5fr;
  }
  .show-container {
    grid-template-columns: 5fr;
  }
  .overall-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }


  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -2.5rem;
  }
  .cat-input,
  .cat-search,
  .cat-reset,
  .search-instruction {
    margin: 0 auto;
    padding: 0.25rem;
  }
  .search-instruction {
    font-size: 0.75rem;
  }
}

@media (max-width: 740px) {

  .nav-container {
    flex-direction: column;
    justify-content: center;
  
    background-color: #555;
    padding: 0.5rem;
  }
  .nav-item{
   display: flex;
   justify-content: center;
  }

  .nav-container a {
    padding: 0.25rem;
    font-weight: 700;
  }
  .search-buttons {
    justify-content: center;
  }
  .cat-reset {
    margin: 0;
  }
  .cat-search {
    margin: 0;
  }
}
@media (max-width: 650px) {
  .header-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .reg-div{

    position: absolute;
    background: transparent;

    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
    margin: 0;
  }
  .user-login{
    background: transparent;
    height: 2rem;
    margin: 0;
  }
  .signed-out{
    display: flex;
    justify-content: center;
    background: transparent;
    width: vw;
    margin: 0;
    padding-top: 0.5rem;
  }
  .signed-out a{
    background: transparent;
  }
  .signed-in{
    position: absolute;
    top: 5rem;
    display: flex;
    align-items: bottom;
    gap: 7rem;
    background: transparent;
    height: 1.2rem;
  }
  .greeting{
    position: absolute;
    top: -1rem;
  }
  .userlogin{
    background: transparent;
    height:1.2rem;
  }
  .edit-profile{
    display: inline-block;
    text-align: center;
   }
  .nav-container a {
    padding: 0rem;
    font-weight: 700;
  }
  .overall-container{
    margin-top: 2rem;
  }
  
}
@media (max-width: 600px) {
  .signed-in{
    height: 2rem;
    display: flex;
  }
  .nav-container{
    position: relative;
    height: auto;
    margin-top: 2rem;
  
    width: vw;
  }
  /* .nav-container a:last-child{
    padding-bottom:0.25rem;
  } */
  .logout{
    margin-bottom: 0.25rem;
  }
 
  p.notice{
    display: block;
    width: vw;
    margin: 1 0;
    z-index: 1;

  }
  .search-instruction{
  margin-top: 0.5rem;
    top:20rem;
    height: auto;
    width: 100%;
    background: transparent;
  }
  .display-container img{
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 460px) {
  .edit-profile{
    width: 5rem;
    margin-top: -0.3rem;
  }
}
  

